# Application Details

APP_NAME=Cradle # Name of App.
APP_ENVIRONMENT=development # App's environment; development, production, and maintenance.
APP_URL=http://localhost # The app's base URL without trailing backslash.

# Database Connection Details.

DB_DRIVER=mysql # Database driver, leave as default.
DB_HOST=host # Database host.
DB_PORT=3306 # Database port.
DB_NAME=db # Database name.
DB_USERNAME=user # Database username.
DB_PASSWORD=pass # Database password.
