{% extends "layout.twig" %}

{% block content %}
	<div class="box">

		<h1>Welcome to Cradle</h1>

		<div class="divider"></div>

		<p>Cradle is a light weight framework built with the aim to avoid working with monolithic web apps while still giving the developer as much freedom as possible to work in an MVC environment.</p>

	</div>
{% endblock %}