{% extends "layout.twig" %}

{% block content %}
	<div class="box">

		<h1>Say Hello to Cradle</h1>

		<div class="divider"></div>

		<p>Cradle is a PHP microframework for architecting small and efficient microservices, built on top of <a href="http://www.slimframework.com/">the Slim microframework</a> and open source components.</p>

	</div>
{% endblock %}