{% extends 'framework/layout.twig' %}

{% block title %}Error 404{% endblock %}

{% block content %}
	<div class="box">
		
		<h1>404 Not Found!</h1>

		<div class="divider"></div>

		<p>The file or page you requested was not found on this server.</p>

	</div>
{% endblock %}