{% extends 'framework/layout.twig' %}

{% block title %}Site under maintenance{% endblock %}

{% block content %}
	<div class="box">

		<h1>Site under maintenance</h1>

		<div class="divider"></div>

		<p>Come back in a few hours and we'll be ready to handle your request.</p>

	</div>
{% endblock %}